body {
    background-color: #A1BAE0;

}

.logo {
    margin-right: 2rem;
}

.btn-recherche {
    margin-right: 1rem;
}

#icone-contact {
    font-size: 4rem;
}

#icone-achat {
    font-size: 4rem;
}

#jean{
    margin-bottom: 2rem;
}


.line{
    
    margin: auto;
}
.li2{
    font-size: 25px;
    border-left: 1px solid black;
}

.li-a{
    border-right: 1px solid black;

}
.container
{
    background-color: 5773D6;
    background-color: #becfea;
}
.footer
{
    background-color: #5773D6;
    height: 200px;

}
.couleur{
    color: black;
    
}

.miniature{
    height: 200px;
    max-width: 200px;
}

/*Accueil*/
.trois-img{
    display: flex;
    justify-content: space-around;
}

.promotion{
   margin-top: 2rem;
}