body {
    background-color: #A1BAE0;

}

.logo {
    margin-right: 2rem;
}

.btn-recherche {
    margin-right: 1rem;
}

#icone-contact {
    font-size: 4rem;
}

#icone-achat {
    font-size: 15px;
}

#jean{
    margin-bottom: 2rem;
}


.line{
    
    margin: auto;
}
.li2{
    font-size: 25px;
    border-left: 1px solid black;
}

.li-a{
    border-right: 1px solid black;

}
.container
{
   
    background-color: #becfea;
}
.footer
{
    background-color: #5773D6;
    height: 200px;

}
.couleur{
    color: black;
    
}

.miniature{
    height: 200px;
    max-width: 200px;
}

/*Accueil*/
.trois-img{
    display: flex;
    justify-content: space-around;
}


/*Sous-catégorie*/
.titre-rubrique{
    display: inline-block;
    background-color: #3486be;
    width: 20rem;
    padding: 1.125% 4%;
    margin:0;
    
}
/*lien sous rubrique*/
.titre-2rubrique{
    border-top: solid;
    border-color: rgb(114, 113, 111);
    padding-top : 3rem;
    padding-bottom: 30px;
    
}

/*image catégorie*/
.img-catégorie{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 40px;
    right: 40px;
    left:2px;
}

/*lien sous rubrique*/
.lien-catégorie{
    padding-left: 60px;
    background-color: #D9D9D9;
}

.puce-catégorie{
    list-style-type: none;
}

.annonce-rub{
    padding-bottom: 30px;
}
.ImageAnnonce {
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #D9D9D9;
  margin-bottom: 15px;
}
/*cards*/
.fontColor{
    font-weight: bold;
}

.body-color{
    background-color: #D9D9D9;
}

.card-font{
    color: #34495e;
}

.police-card,p{
    font-size: 0.9em;
    line-height:1em;
}

/*panier*/

.panier-effacerPanier{
    width: 20%;
}