
<div class="row">
    <nav class="navbar navbar-expand-lg bg-light">

        <div class="logo">
            <a class="navbar-brand" href="#"><img class="logo" src="{{asset('images/logo.png')}}" width="60" height="60"
                    alt="logo.png"></a>
        </div>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-8">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">rechercher</button>
                </form>
            </div>
        </div>

        <div class="col-6">
            <div class="contact_achat d-flex">
                <p id="icone-contact"><i class="fa-solid fa-user me-4 d-flex"></i></p>
                <ul class="navbar-nav ">
                    <div class="d-flex flex-column">

                        <li class="nav-item"><a class="nav-link" href="#">Mon compte</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Mon inscription</a></li>
                    </div>
                </ul>
                
            </div>
        </div>
    </nav>
</div>