


    <div class="footer container-fluid">
        <div class="row align-items-start">
                <div class="d-flex justify-content-around" style="margin-top: 80px;">
                    <a class="couleur" href="#">Mentions légales</a>
                    <a class="couleur" href="#">Nos magasins</a>
                    <a class="couleur" href="#">Qui sommes nous</a>
                </div>
        </div>
    </div>
</div>
